{% extends 'base.html' %}
	{% block titulo %}
		<h2> Nuevo Post </h2>
	{% endblock %}
	
    {% block formulario %}
       <center> <h3> Nuevo Post </h3>  </center>
          <div id="content_inner">  
                    <form action="#" method="post" class="formit" enctype='multipart/form-data'>{% csrf_token %}
                        <input type="text"  cols="50" rows="5" name="titulo" placeholder="Introduzca Título...">               
                        <input type="file" name="imagen"  placeholder="Introduzca Imagen....">
                        <input type="text" name="descripcion" placeholder="Introduzca Descripción...">
                        Categoría : {{form.categoria}}
                        Tablero : {{form.tablero}}                        
                        <input type="hidden" name="creador" value ="{{user.id}}">
                        <center><input type="submit" class="button_submit" value="Postear">
                    </form>
        </div>
    {% endblock %}

