{% extends 'base.html' %}
			{% block titulo %}
					<h2>{{titulo.nombre}}</h2>
				<div class="button_main">
	                	<a href="/Tableros/lista/" class="button_dark">VOLVER</a>
	            </div> 					
			{% endblock %}
	{% block Descripcion %}
		{% if list %}
			{% for x in list %}	           
	 		<div id="content_inner">  
	 		                                    <hr class="cleanit">
		           <div class="fourths_portfolio">
		           		<h4>Haz click para obtener más detalles<br>
		                </h4>
		               <a href="/Post/lista/{{x.id}}">	<img style="width:90%,"src='{{MEDIA_URL}}{{x.imagen}}'  WIDTH=220 HEIGHT=220 BORDER=50> </a>
		               <a href="/Post/lista/{{x.id}}" class="profession">{{x.titulo}}</a>
		           </div>
	     	</div>

			{% endfor %}


		{% else %}
			<center><h2> No existen Post </h2>  </center>
		{% endif %}
	{% endblock %}