{% extends "base.html" %}
    {%block titulo%}
        <h2> Mensajes </h2>
        <div class="button_main">
                <a href="/Usuarios/perfil/" class="button_dark">VOLVER</a>
        </div>
    {%endblock%}

        {%block Perfil %}
        <div id="content_inner">         
                <ul id="work_filter"
                    <li><a href="/Tableros/lista/">TABLEROS</a></li>
                    <li><a href="/Usuarios/amigos/">AMIGOS</a></li>
                    <li><a href="/Mensajes/ver/" >MENSAJES</a></li>
                    <li><a href="/Usuarios/peticiones/">PETICIONES</a></li>
                    <li><a href="/Post/posts_usuario/">POSTS</a></li>
                </ul>
            </div>
        {% endblock %}    
        {%block Descripcion %}  
            <div id="content">
                <a href="/Mensajes/enviados/" class="services_list">
                    <span class="ico_message"><b>Enviados</b></span>
                </a>           
                <a href="/Mensajes/recibidos/" class="services_list">
                    <span class="ico_shop"><b>Recibidos</b></span>    
                </a>
            </div>
            
        {% endblock %}  
</html>

